@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #02A28F;
    --font-Vazir: "Vazirmatn";
}

@layer base {
    body {
        direction: rtl;
    }
}

@layer utilities {
    .container {
        @apply mx-auto px-2.5;
    }
}